.design-1-icon,
.design-2-icon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.design-1-icon {
  height: auto;
  width: 200px;
  bottom: -60px;
  left: -40px;
}
.design-2-icon {
  height: auto;
  width: 120px;
  top: -30px;
  right: -30px;
}
.main-content-child {
  width: 562px;
  height: 700px;
  position: relative;
  box-shadow: 0 0 6px rgba(67, 89, 113, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logo-icon {
  height: 37px;
  width: 150px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.logo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 0 0 var(--padding-18xl) var(--padding-3xs); */
  padding-bottom: 12px;
}
.welcome-to-recotail {
  margin: 0;
  width: 333px;
  position: relative;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.please-sign-in-to {
  align-self: stretch;
  position: relative;
  font-size: 15px;
  font-weight: 300;
  z-index: 3;
}
.welcome-to-recotail-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-9xl);
}
.email {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.email-input-child {
  height: 48px;
  width: 502px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.enter-your-email {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-public-sans);
  font-size: 0.9375rem;
  background-color: transparent;
  height: 18px;
  position: relative;
  line-height: 18px;
  color: #193A54;
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 4;
  font-weight: 400;
}
.email-field,
.email-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-input {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-sm);
  z-index: 3;
}
.email-field {
  flex-direction: column;
  gap: var(--gap-sm);
}
.sign-in-button {
  align-self: stretch;
  height: 48px;
  z-index: 3;
}
.sign-in-button:hover {
  background-color: #530bae;
    color: #fff;
    border-color: #530bae;
}
.frame-child,
.login-form {
  align-self: stretch;
  max-width: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-child {
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 4;
}
.line-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-3xs) 0 0; */
  box-sizing: border-box;
  min-width: 116px;
}
.frame-item,
.or-log-in {
  position: relative;
  flex-shrink: 0;
}
.or-log-in {
  width: 153px;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 3;
  margin-left: -2px;
  align-self: center;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 4;
}
.frame-parent,
.line-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 116px;
  margin-left: -2px;
}
.facebook,
.google {
  align-self: stretch;
  height: 50px;
  z-index: 3;
  background-color: #fff;
}
.facebook {
  background-color: #fff;
}

.google:hover {
  background-color: #ededff;
}
.google img {
  width: 20px;
  height: 20px;
}
.facebook img {
  width: 20px;
  height: 20px;
}
.social-login {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.divider-content,
.divider-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.divider-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  text-align: center;
}
.design-1-parent,
.main-content {
  display: flex;
  justify-content: flex-start;
  /* max-width: 100%; */
}
.main-content {
  flex: 1;
  box-shadow: 0 0 6px rgba(67, 89, 113, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  z-index: 2;
}
.design-1-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  text-align: left;
  font-size: 0.75rem;
  color: var(--color-darkslategray);
  font-family: var(--font-public-sans);
}
@media screen and (max-width: 700px) {
  .main-content {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-recotail {
    font-size: var(--font-size-3xl);
  }
  .facebook,
  .google,
  .sign-in-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

.login-mail {
  width: 100%;
}