@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-public-sans: "Public Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #193a54;
  --color-gray: rgba(255, 255, 255, 0.17);
  --color-gainsboro: #d9dee3;
  --color-silver: #b4bdc6;

  /* Gaps */
  --gap-9xl: 28px;
  --gap-5xl: 24px;
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-150xl: 169px;
  --padding-319xl: 338px;
  --padding-28xl: 47px;
  --padding-9xl: 28px;
  --padding-79xl: 98px;
  --padding-12xl: 31px;
  --padding-45xl: 64px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-lg: 18px;
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-18xl: 37px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
