.label-amazon {
  position: relative;
  line-height: 1.188rem;
  font-weight: 500;
}
.enter-amazon-oauth {
  width: 100% !important;
  border: 0;
  outline: 0;
  font-family: var(--public-sans-regular-12);
  font-size: 14px;
  background-color: transparent;
  height: 1.1rem;
  position: relative;
  color: #193A54;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.code-input,
.input2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input2 {
  /* height: 2.438rem; */
  border-radius: 5px;
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
}
.code-input {
  height: 4.056rem;
  flex-direction: column;
  gap: 0.593rem;
  text-align: left;
  font-size: 0.75rem;
  color: #193A54;
  font-family: var(--public-sans-regular-12);
}
